form {
    button {
        outline: none;
        font-size: 12;
        font-weight: 550;
        height: 35px !important;
        i {
            text-align: center;
        }
    }
    label {
        &.control-label {
            font-weight: 600;
            font-size: 14px;
            color: $hd-text-color;
        }
    }
    input, select {
        font-weight: 400;
        font-size: 12px;
        height: 35px !important;
    }
}

.has-error {
    .control-label {
        color: $vin-red;
    }
    .form-control {
        border-color: $vin-red;
    }
}
