.app-modal {
    .modal-content {
        background: $module-page-form-background;
        color: $hd-text-color;
        border-color: $border-color;
    }
    .model-footer {
        border-color: $border-color;
    }
}