@media(min-width: $screen-sm-min){
    
    .navbar.navbar-default.navbar-fixed-top{
        background: $awe-blue;
    }
    .navbar-default{
        color:$hd-text-color !important;
        .navbar-header{    
            padding-left: 5px;
            margin-top: 2px;
            background: $awe-blue-left !important;
            .navbar-brand {
                font-weight: bold;
                padding-left: 25px;
            }
        }
        .navbar-nav {
            &.navbar-left {
                margin-top: 2px;
                background: $awe-blue-left !important;
            }
            &.navbar-right {
                margin-top: 2px;
                background: $awe-blue-left !important;
            }
            li {
                a {
                    &:hover {
                        background: $awe-blueH !important;
                        color:$hd-text-color !important;
                    }
                    &:focus {
                        background: $awe-blueH !important;
                        color: $hd-text-color !important;
                    }
                }
            }
        }
    }    
}
