.login {
    padding-top: 15%;
    padding-left: 30%;
    padding-right: 30%;
    .login-header {
        background: lighten($module-page-form-background, 10);
        width: inherit;
        border-top-left-radius: 4px;
        text-align: center;
        font-weight: 500;
        color: $hd-text-color;
        border: 1px solid $border-color;
        h4 {
            text-align: left;
            text-indent: 5px;
        }

        i {
            margin-left: 13px;
            margin-top: 10px;
            font-size: 24px;
        }
        img { 
           margin-left: 5px;
           margin-top: 2px;
           border-radius: 10px;
           margin-right: 5px;
        }
    }
    .page-form {
        border-radius: 0px;
        .login-control {
            padding-top: 5px;
            text-align: right;
            .login-button {
                display: inline-block;
            }
        }
    }
}