.record-search {
   /** margin-left: -15px;
    padding: 0 5px 0 5px;
    @media (min-width: $screen-sm-min) {
        padding: 0 70% 0 30px;
    }
    z-index: 4;
    position: absolute;
    width: 100%;
    top: 118px;*/
    form {
        padding: 0;
        select, input {
            height:35px !important;
        }
    }
}